.collect {
    max-width: 100vw;
    margin-top: 87px;

    &__bg {
        width: 100%;
        min-height: 200px;
        background-image: url('./../../image/collect.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 90%;
        padding-top: 90px;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
    }

    &__title {
        font-style: normal;
        width: 255px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center; 
        color: #333D4B;
    }

    &__text {
        width: 255px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }

}


@media only screen and (max-width:1080px) {

    .collect {

        &__list {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
        }

        &__iteam {
            // margin: auto;
            display: flex;
            align-items: center;
            margin: auto;
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__title,
        &__text {
            text-align: left;
        }
    }
    
}

@media only screen and (max-width:660px) {

    .collect {

        &__iteam {
            flex-direction: column;
            margin-bottom: 50px;
        }

        &__title,
        &__text {
            text-align: center;
        }
    }
    
}